.navbar {
  background-color: #1976d2;
  color: #e03333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.navbar .logo {
  font-size: 50px;
  font-weight: bold;
  color: #1d1b1b;
  align-items: center


}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(47, 41, 41);
  font-size: 30px;
}

.navbar ul li a:hover {
  text-decoration: underline;
}
